In [1]:
# Import libraries
import pandas as pd
import sys

In [2]:
# Our small data set
list_for_data = [0,1,2,3,4,5,6,7,8,9]

# Create dataframe
df = pd.DataFrame(list_for_data)
df

   0
0  0
1  1
2  2
3  3
4  4
5  5
6  6
7  7
8  8
9  9

In [4]:
df.columns

Int64Index([0], dtype='int64')

In [5]:
df.columns = ['Rev']
df

   Rev
0    0
1    1
2    2
3    3
4    4
5    5
6    6
7    7
8    8
9    9

In [6]:
# Adding new column
df['NewCol'] = 5

In [7]:
df

   Rev  NewCol
0    0       5
1    1       5
2    2       5
3    3       5
4    4       5
5    5       5
6    6       5
7    7       5
8    8       5
9    9       5

In [8]:
# Lets modify our new column
df['NewCol'] = df['NewCol'] + 1
df

   Rev  NewCol
0    0       6
1    1       6
2    2       6
3    3       6
4    4       6
5    5       6
6    6       6
7    7       6
8    8       6
9    9       6