In [1]:
# Import libraries
import pandas as pd
import sys

In [2]:
# Our small data set
d = {'one':[1,1,1,1,1],
     'two':[2,2,2,2,2],
     'letter':['a','a','b','b','c']}

# Create dataframe
df = pd.DataFrame(d)
df

  letter  one  two
0      a    1    2
1      a    1    2
2      b    1    2
3      b    1    2
4      c    1    2

In [3]:
# Create group object
one = df.groupby('letter')

# Apply sum function
one.sum()

        one  two
letter
a         2    4
b         2    4
c         1    2