In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({'col1':[pd.Timestamp('20130102000030'),
                         pd.Timestamp('2013-01-03 00:00:30'),
                         pd.Timestamp('1/4/2013 000030')],
                 'col2':[1,10,18]
                 })
df1

                 col1  col2
0 2013-01-02 00:00:30     1
1 2013-01-03 00:00:30    10
2 2013-01-04 00:00:30    18

In [3]:
df1 = df1.set_index('col1')
df1

                     col2
col1
2013-01-02 00:00:30     1
2013-01-03 00:00:30    10
2013-01-04 00:00:30    18

In [4]:
d = {'col2':[22,10,113]}

i = [pd.Timestamp('20130102'),
     pd.Timestamp('2013-01-03'),
     pd.Timestamp('1/4/2013')]
                 

df2 = pd.DataFrame(data=d, index = i)
df2.index.name = 'col1'
df2

            col2
col1
2013-01-02    22
2013-01-03    10
2013-01-04   113

In [5]:
# If we try to add the data frames together, we do not get the results we want.
df2+df1

                     col2
col1
2013-01-02 00:00:00   NaN
2013-01-02 00:00:30   NaN
2013-01-03 00:00:00   NaN
2013-01-03 00:00:30   NaN
2013-01-04 00:00:00   NaN
2013-01-04 00:00:30   NaN

In [6]:
# Make the index of df2 the same as the index of df1
# Fill the missing values with previous known value
#
#2013-01-02 00:00:00 => 22
#2013-01-02 00:00:30 => 22 
#2013-01-03 00:00:00 => 10
#2013-01-03 00:00:00 => 10
#2013-01-04 00:00:00 => 113
#2013-01-04 00:00:00 => 113
df2.reindex(df1.index, method='pad')

                     col2
col1
2013-01-02 00:00:30    22
2013-01-03 00:00:30    10
2013-01-04 00:00:30   113